<footer class="bg-dark text-center text-warning fixed-bottom">
    <!-- Grid container -->
    <div class="container p-1 pb-lg-1">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
            ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <!-- Twitter -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>
            <!-- Instagram -->
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white">Medin Tarakchiev</a>
    </div>
    <!-- Copyright -->
</footer>