<th:block xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar nav-fill navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand text-warning" href="/">MotorBike</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--        TODO: Search item navBar-->
            <!--        <form class="form-inline my-2 my-lg-0">-->
            <!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--        </form>-->
            <ul class="navbar-nav mr-auto col-lg-12 d-inline-flex">
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Action</a>
                        <a class="dropdown-item" href="/">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Parts
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" th:href="@{/parts/{category}(category = 'Engine')}">Engine Parts</a></li>
                            <li><a class="dropdown-item" th:href="@{/parts/{category}(category = 'Tyres')}">Tyres Parts</a></li>
                            <li><a class="dropdown-item" th:href="@{/parts/{category}(category = 'BrakeSystem')}">Brake System Parts</a></li>
                            <li><a class="dropdown-item" th:href="@{/parts/{category}(category = 'Plastics')}">Plastics Parts</a></li>
                            <li><a class="dropdown-item" th:href="@{/parts/{category}(category = 'Accessories')}">Accessories Parts</a></li>
                            <li><a class="dropdown-item" th:href="@{/parts/{category}(category = 'Suspension')}">Suspension Parts</a></li>
                            <li><a class="dropdown-item" th:href="@{/parts/{category}(category = 'Oil')}">Oil Parts</a></li>
                        </ul>
                    </div>
                </li>
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" href="/announcement/search">Announcement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/forum/discussion">Discussion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Announcement
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/announcement/add">Add Announcement</a></li>
                                <li><a class="dropdown-item" href="/announcement/search">Search Announcement</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Forum
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/forum/discussion">Discussion</a></li>
                                <li><a class="dropdown-item" href="/forum/discussion/create">Create Discussion</a></li>
                            </ul>
                        </div>
                    </li>
                </th:block>
                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item d-flex justify-content-end" sec:authorize="isAuthenticated()">
                    <div class="form-inline my-2 my-lg-0 px-3">
                        <div class="text-white" th:text="${#authentication.name}"></div>
                        <form th:action="@{/users/logout}" th:method="POST">
                            <input class="btn btn-link nav-link" type="submit" value="Logout">
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</th:block>