body {
    text-align: center;
    margin: 5rem;
}

section {
    margin: 1rem;
    display: flex;
}

.carousel {
    width: 40rem;
    text-align: center;
}

.carousel-inner {
    border-radius: 20px;
}

.container-sm {
    margin-left: 1rem;
    width: 30rem;
    padding: 10px;
    border-radius: 20px;
}

.title {
}

h3 {
    text-align: left;
    margin-top: 25px;
}

h4 {
    text-align: right;
    margin-top: 25px;
}

section article .col {
    margin-bottom: 10px;
}

h5 {
    margin-bottom: 2rem;
}

section .container-fluid {
    padding: 1rem;
}

.contact div {
    border-radius: 20px;
}