.carousel {
    width: 50%;
    margin: auto;
}

.carousel-inner {
    border-radius: 20px;
}

p {
    margin-bottom: 0rem;
}

section.font {
    text-align: center;
}

h2 {
    margin: 4rem 0 2rem 0;
}

h3.info {
    margin: auto;
    text-align: center;
    font-style: italic;
}