<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body>
<nav th:include="~{fragments/navBar}"></nav>

<div class="mask d-flex align-items-center h-100 gradient-custom-3"></div>
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-15 col-md-12 col-lg-10 col-xl-9">
            <div class="card bg-dark" style="border-radius: 15px; margin: 100px 0 100px 0">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5 text-warning">Create an announcement</h2>

                    <form th:action="@{/add/announcement}"
                          th:method="post"
                          th:object="${announcementDTO}">

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold"
                                       for="brandId">Brand</label>
                                <select id="brandId"
                                        th:field="*{brandId}"
                                        th:errorclass="is-invalid"
                                        class="form-control">
                                    <option value="">- Select brand -</option>
                                    <option th:each="brand : ${brands}"
                                            th:text="${brand.name}"
                                            th:value="${brand.id}"
                                            th:selected="${brand.id} == *{brandId}">
                                        Brand
                                    </option>
                                </select>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Brand is required.
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold"
                                       for="transmission">Transmission</label>
                                <select id="transmission"
                                        th:field="*{transmission}"
                                        th:errorclass="is-invalid"
                                        class="form-control">
                                    <option value="">- Select transmission type -</option>
                                    <option th:each="transmission : ${T(com.motorbikesshop.model.enums.TransmissionType).values()}"
                                            th:text="${transmission}"
                                            th:value="${transmission}"
                                            th:selected="${transmission} == *{transmission}">
                                        Transmission type
                                    </option>
                                </select>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Transmission type is required.
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold"
                                       for="engine">Engine</label>
                                <select id="engine"
                                        th:field="*{engine}"
                                        th:errorclass="is-invalid"
                                        class="form-control">
                                    <option value="">- Select engine type -</option>
                                    <option th:each="engine : ${T(com.motorbikesshop.model.enums.EngineType).values()}"
                                            th:text="${engine}"
                                            th:value="${engine}"
                                            th:selected="${engine} == *{engine}">
                                        Engine type
                                    </option>
                                </select>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Engine type is required.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold"
                                       for="category">Category</label>
                                <select id="category"
                                        th:field="*{category}"
                                        th:errorclass="is-invalid"
                                        class="form-control">
                                    <option value="">- Select category type -</option>
                                    <option th:each="category : ${T(com.motorbikesshop.model.enums.MotorBikesType).values()}"
                                            th:text="${category}"
                                            th:value="${category}"
                                            th:selected="${category} == *{category}">
                                        Category type
                                    </option>
                                </select>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Category type is required.
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold"
                                       for="condition">Condition</label>
                                <select id="condition"
                                        th:field="*{condition}"
                                        th:errorclass="is-invalid"
                                        class="form-control">
                                    <option value="">- Select condition type -</option>
                                    <option th:each="condition : ${T(com.motorbikesshop.model.enums.ConditionType).values()}"
                                            th:text="${condition}"
                                            th:value="${condition}"
                                            th:selected="${condition} == *{condition}">
                                        Condition
                                    </option>
                                </select>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Condition is required.
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold"
                                       for="color">Color</label>
                                <select id="color"
                                        th:field="*{color}"
                                        th:errorclass="is-invalid"
                                        class="form-control">
                                    <option value="">- Select color -</option>
                                    <option th:each="color : ${T(com.motorbikesshop.model.enums.ColorType).values()}"
                                            th:text="${color}"
                                            th:value="${color}"
                                            th:selected="${color} == *{color}">
                                        Color type
                                    </option>
                                </select>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Color is required.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold" for="dateOfManufacture">
                                    Date of Manufacture</label>
                                <input type="date"
                                       id="dateOfManufacture"
                                       th:field="*{dateOfManufacture}"
                                       th:errorclass="is-invalid"
                                       class="form-control form-control-lg"/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Date of Manufacture is required.
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold" for="horsePower">Horse
                                    power</label>
                                <input type="number"
                                       id="horsePower"
                                       th:field="*{horsePower}"
                                       th:errorclass="is-invalid"
                                       class="form-control form-control-lg"/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Horse power is required.
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold"
                                       for="modification">Modification</label>
                                <input type="text"
                                       id="modification"
                                       th:field="*{modification}"
                                       th:errorclass="is-invalid"
                                       class="form-control form-control-lg"
                                       placeholder=""/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Modification is required.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="price" class="text-warning font-weight-bold">Price</label>
                                <input id="price"
                                       th:field="*{price}"
                                       th:errorclass="is-invalid"
                                       type="number" min="0" step="1" class="form-control"
                                       placeholder="Suggested price"/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Suggested price is required.
                                </p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="mileage" class="text-warning font-weight-bold">Mileage</label>
                                <input id="mileage"
                                       th:field="*{mileage}"
                                       th:errorclass="is-invalid"
                                       type="number" min="0" max="900000" step="1"
                                       class="form-control"
                                       placeholder="Mileage in kilometers"/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Mileage in kilometers is required.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold" for="city">City</label>
                                <input type="text"
                                       id="city"
                                       th:field="*{city}"
                                       th:errorclass="is-invalid"
                                       class="form-control form-control-lg"
                                       placeholder="Write your city"/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    City is required.
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="text-center text-warning font-weight-bold" for="postCode">Street</label>
                                <input type="text"
                                       id="Street"
                                       th:field="*{street}"
                                       th:errorclass="is-invalid"
                                       class="form-control form-control-lg"
                                       placeholder="Write your street"/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Street is required.
                                </p>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label class="text-center text-warning font-weight-bold"
                                       for="streetNumber">Number</label>
                                <input type="number"
                                       id="streetNumber"
                                       th:field="*{streetNumber}"
                                       th:errorclass="is-invalid"
                                       class="form-control form-control-lg"
                                       placeholder="Street number"/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Street number is required.
                                </p>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label class="text-center text-warning font-weight-bold" for="postCode">PostCode</label>
                                <input type="number"
                                       id="postCode"
                                       th:field="*{postCode}"
                                       th:errorclass="is-invalid"
                                       class="form-control form-control-lg"
                                       placeholder="PostCode"/>
                                <p class="invalid-feedback errors alert alert-danger">
                                    PostCode is required.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-warning font-weight-bold" for="description">Description</label>
                            <textarea id="description"
                                      th:field="*{description}"
                                      th:errorclass="is-invalid"
                                      type="textarea" class="form-control" rows="3"
                                      placeholder="Description"></textarea>
                            <p class="invalid-feedback errors alert alert-danger">
                                Description is required.
                            </p>
                        </div>

                        <div>
                            <label for="images" class="form-label text-warning font-weight-bold">Multiple files input example</label>
                            <input class="form-control"
                                   type="file"
                                   id="images"
                                   th:field="*{images}"
                                   th:errorclass="is-invalid"
                                   multiple />
                            <p class="invalid-feedback errors alert alert-danger">
                                Images is required.
                            </p>
                        </div>

                        <div class="form-check d-flex justify-content-center mb-5 text-warning">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg"/>
                            <label class="form-check-label" for="form2Example3cg">
                                I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                            </label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Create
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:include="~{fragments/footer}"></footer>
</body>
</html>