<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Search</title>
</head>
<body>
<nav th:replace="~{fragments/navBar.html}"></nav>

<div class="container" style="margin-top: 60px;">
    <h2 class="text-center text-white">Search for Announcement</h2>
    <a class="btn-lg font-weight-bold text-white" href="/announcement/all">See all</a>
    <form
            th:method="GET"
            th:action="@{/announcement/search}"
            th:object="${searchAnnouncement}"
            class="d-flex justify-content-center"
            style="margin-top: 30px;">
        <div class="container-fluid" style="position: relative">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="text-warning font-weight-bold" for="modelId">
                        Model</label>
                    <select th:field="*{modelId}"
                            th:errorclass="is-invalid"
                            class="form-control"
                            type="search"
                            aria-label="Search"
                            id="modelId">
                        <option value="">Select model</option>
                        <optgroup th:each="brand : ${brands}"
                                  th:label="${brand.name}">
                            <option th:each="model : ${brand.models}"
                                    th:text="${model.name}"
                                    th:value="${model.id}"
                                    th:selected="${model.id} == *{modelId}">Model
                            </option>
                        </optgroup>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label class="text-warning font-weight-bold" for="category">
                        Category</label>
                    <select id="category"
                            th:field="*{category}"
                            th:errorclass="is-invalid"
                            class="form-control">
                        <option value="">Select category</option>
                        <option th:each="category : ${T(com.motorbikesshop.model.enums.MotorBikesType).values()}"
                                th:text="${category}"
                                th:value="${category}"
                                th:selected="${category} == *{category}">
                            Category type
                        </option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label class="text-warning font-weight-bold" for="minPrice">
                        Min Mileage</label>
                    <input th:field="*{minPrice}"
                           class="form-control" ]
                           type="search"
                           placeholder="Min Price..."
                           aria-label="Search"
                           id="minPrice"/>
                </div>

                <div class="col-md-3 mb-3">
                    <label class="text-warning font-weight-bold" for="maxPrice">
                        Max Price</label>
                    <input th:field="*{maxPrice}"
                           class="form-control"
                           type="search"
                           placeholder="Max Price..."
                           aria-label="Search"
                           id="maxPrice"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="text-warning font-weight-bold" for="maxMileage">
                        Max Mileage</label>
                    <input th:field="*{maxMileage}"
                           class="form-control"
                           type="search"
                           placeholder="Max Mileage"
                           aria-label="Search"
                           id="MaxMileage"/>
                </div>

                <div class="col-md-3 mb-3">
                    <label class="text-warning font-weight-bold" for="MinMileage">
                        Min Mileage</label>
                    <input th:field="*{minMileage}"
                           class="form-control"
                           type="search"
                           placeholder="Min Mileage"
                           aria-label="Search"
                           id="MinMileage"/>
                </div>

                <div class="col-md-3 mb-3">
                    <label class="text-warning font-weight-bold" for="afterDate">
                        After</label>
                    <input th:field="*{after}"
                           class="form-control"
                           type="date"
                           placeholder="After Year..."
                           aria-label="Search"
                           id="afterDate"/>
                </div>

                <div class="col-md-3 mb-3">
                    <label class="text-warning font-weight-bold" for="beforeDate">
                        Before</label>
                    <input th:field="*{before}"
                           class="form-control"
                           type="date"
                           placeholder="Before Year..."
                           aria-label="Search"
                           id="beforeDate"/>
                </div>
            </div>

            <small id="searchOfferHelpInline"
                   class="bg-danger text-light rounded invalid-feedback"
                   style="width: 97%; position: absolute; padding: 3px 15px; text-align: center;">
                Try writing something this time.
            </small>
            <div class="d d-flex justify-content-center">
                <button class="btn btn-outline-info btn-lg my-3 my-sm-2" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>


<div class="container-fluid" style="margin-top: 80px">
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:each="current : ${present}" th:object="${current}"
             class="offer card col-sm-7 col-md-3  col-lg-2 m-1 p-0 bg-dark">
            <div class="card-img-top-wrapper">
                <img class="img-thumbnail" th:src="*{images.url}" alt="Car image">
            </div>
            <div class="card-body pb-1">
                <a class="card-title align-text-bottom text-light font-weight-bold"
                   th:href="@{/announcement/details/{id}(id = *{id})}"
                   th:text="|*{model.brand.name} *{model.name}|">
                    Brand name Model name</a>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item text-warning bg-dark">
                    <div class="card-text"
                         name="price"
                         th:text="|Price - *{price} BGN|">
                    </div>
                    <div class="card-text"
                         name="mileage"
                         th:text="|Mileage - *{mileage} Km|">
                    </div>
                    <div class="card-text"
                         name="engineType"
                         th:text="|Engine - *{engine}|">
                    </div>
                    <div class="card-text"
                         name="transmissionType"
                         th:text="|Color - *{color}|">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
<th:block th:replace="~{fragments/scripts}"></th:block>
</body>
</html>